.container {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 540px;
    margin: auto;
}

.grid-item {
    border: 1px solid black;
    box-sizing: border-box;
}

.color {
    background-color: black;
}

.resize {
    display: block;
    margin: auto;
    margin-bottom: 10%;
}